mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-material[imaging]
click<8.2  # Workaround: click 8.3+ breaks mkdocs livereload (flag_value regression)
